<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <div class=" shadow p-3 mt-5 bg-white rounded">
                <form action="/" class="" id="add-book-form" method="get">
                    <div class="form-row">
                        <div class="col">
                            <input aria-label="Search" class="form-control" id="search-query-isbn" name="isbn"
                                   placeholder="Search isbn..." type="search">
                        </div>
                        <div class="col">
                            <input aria-label="Search" class="form-control" id="search-query-title" name="title"
                                   placeholder="Search title..." type="search">
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="shadow p-3 mt-5 bg-white rounded">
                <table class="table table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Time added</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="text-center" th:if="${books.size() == 0}">
                        <td class="pt-4" colspan="5">
                            <h3><b>Books not have been added yet.</b></h3>
                        </td>
                    </tr>
                    <tr onclick="window.location"
                        th:each="book: ${books}"
                        th:unless="${books.size() == 0}"
                    >
                        <th scope="row" th:text="${books.indexOf(book) + 1}"></th>
                        <td th:text="${book.isbn}"></td>
                        <td>
                            <a th:href="${'/book/' + book.getIsbn()}" th:text="${book.title}"></a>
                        </td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.timeAdded}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $("#search-query").keyup(function () {
        let query = $("input").val();
        console.log(query)
        getAllBooksContains(query)
    });


</script>

</body>
</html>